@import './fonts/index.css';


:root {
font-family: 'Pretendard', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
'Apple SD Gothic Neo', 'Noto Sans KR', sans-serif;
}


body {
margin: 0;
padding: 0;
font-family: inherit;
}