/* Tailwind v4  */
@import "tailwindcss";

:root {
  /* 기본 폰트를 Pretendard */
  font-family: "Pretendard", sans-serif;
}
/* Pretendard Regular (400) */
@font-face {
  font-family: "Pretendard";
  src: url("/fonts/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Pretendard Medium (500) */
@font-face {
  font-family: "Pretendard";
  src: url("/fonts/Pretendard-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* Pretendard SemiBold (600) */
@font-face {
  font-family: "Pretendard";
  src: url("/fonts/Pretendard-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter-VariableFont_opsz,wght.ttf")
    format("truetype-variations");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lyyra";
  src: url("./assets/fonts/lyyra-expanded-4.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

/* Yde Street Light*/
@font-face {
  font-family: "YdeStreetL";
  src: url("./assets/fonts/YdestreetL.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

/* Yde Street Bold*/
@font-face {
  font-family: "YdeStreetB";
  src: url("./assets/fonts/YdestreetB.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

/* Pretendard-Medium */
@font-face {
  font-family: "Pretendard";
  src: url("/fonts/Pretendard-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: normal;
}

/* global.css 또는 index.css */
@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
