@import "tailwindcss";

:root {
  /* 기본 폰트를 Pretendard */
  font-family: 'PretendardRegular', sans-serif;
  font-weight: 400;
}

@font-face {
  font-family: 'InterNormal';
  src: url('./assets/fonts/Inter-VariableFont_opsz,wght.ttf') format('truetype-variations');
  font-weight: 100 900; 
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'InterSemibold';
  src: url('./assets/fonts/Inter-VariableFont_opsz,wght.ttf') format('truetype-variations');
  font-weight: 100 900; 
  font-style: semibold;
  font-display: swap;
}


@font-face {
  font-family: 'Lyyra';
  src: url('./assets/fonts/lyyra-expanded-4.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* Yde Street Light*/
@font-face {
  font-family: 'YdeStreetL';
  src: url('./assets/fonts/YdestreetL.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

/* Yde Street Bold*/
@font-face {
  font-family: 'YdeStreetB';
  src: url('./assets/fonts/YdestreetB.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

/* Pretendard-Medium */
@font-face {
  font-family: 'PretendardMedium';
  src: url('./assets/fonts/Pretendard-Medium.woff2') format('woff2');
  font-weight: 500; 
  font-display: normal;
}

/* Pretendard-Semibold */
@font-face {
  font-family: 'PretendardSemibold';
  src: url('./assets/fonts/Pretendard-SemiBold.woff2') format('woff2');
  font-weight: 500; 
  font-display: normal;
}

/* Pretendard-Regular */
@font-face {
  font-family: 'PretendardRegular';
  src: url('./assets/fonts/Pretendard-Regular.woff2') format('woff2');
  font-weight: 400; 
  font-display: normal;
}