

@font-face {
font-family: 'Pretendard-Regular';
src: url('/fonts/Pretendard-Regular.woff2') format('woff2');
font-weight: 400;
font-style: normal;
font-display: swap;
}


@font-face {
font-family: 'Pretendard-Medium';
src: url('/fonts/Pretendard-Medium.woff2') format('woff2');
font-weight: 500;
font-style: normal;
font-display: swap;
}


@font-face {
font-family: 'Pretendard-SemiBold';
src: url('/fonts/Pretendard-SemiBold.woff2') format('woff2');
font-weight: 600;
font-style: normal;
font-display: swap;
}


@font-face {
font-family: 'Pretendard-Bold';
src: url('/fonts/Pretendard-Bold.woff2') format('woff2');
font-weight: 700;
font-style: normal;
font-display: swap;
}