

@font-face {
font-family: 'Ydestreet';
src: url('/fonts/YdestreetL.woff2') format('woff2');
font-weight: 400;
font-style: normal;
font-display: swap;
}


@font-face {
font-family: 'Ydestreet';
src: url('/fonts/YdestreetB.woff2') format('woff2');
font-weight: 700;
font-style: normal;
font-display: swap;
}